.recipes-section {
  background-color: #fafafc;
}

.header-bg {
  background-image: url("../img/Illustration.svg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
